body { background: #d89770; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 34px; display: flex; }
.block-product-0 { color: #1ef6e0; font-size: 13px; margin-bottom: 5px; }
.block-search-1 { color: #d080c5; font-size: 15px; margin-bottom: 5px; }
.block-token-2 { color: #e39f3e; font-size: 19px; margin-bottom: 5px; }
.block-uploader-3 { color: #589946; font-size: 21px; margin-bottom: 5px; }
.block-email-4 { color: #1cdef0; font-size: 19px; margin-bottom: 5px; }
.block-notify-5 { color: #885e2; font-size: 14px; margin-bottom: 5px; }